@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;
}
nav h1{
    color: #717171;
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 300px; 
    
}
nav .onglets a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: url('images/relaxed-woman-enjoying-the-sea.avif');
    background-size: cover;
    color:#666666;
    padding: 40px;
}
header h1{
    font-family: 'Playfair Display', sans-serif;
    font-size: 50px;
}
header h2{
   margin-top: -20px;
   font-size: 20px;
   text-align: center;
   border-bottom: 1px solid #fff;
}
header button{
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 20px;
    font-family: 'Playfair display', sans-serif;
    outline: none;
    cursor: pointer;
}
.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.main .content .card .left{
    flex: 0 0 30%;
    padding: 20px;
    background-color: black;
    color: #fff;
}
.main .content .card.right{
    flex: 0 0 70%;
}
.main .content .card .right img{
    height: 300px;
    width: 400px;
    margin-top: 5px ;
}


footer{
   
   
    background-color: #000;
    color: #fff;
    
}
footer h1{
    font-family: 'Playfair Display' , sans-serif;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}
footer .services .service{
    margin-right: 30px;
    padding: 10px;
}
footer .services .service p{
    max-width: 300px;   
}
footer #contact{
    color: #FFFFFF ;
}
body {font-family: 'Montserrat' , sans-serif;
    padding: 0px;}
  
  input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
  }
  label{margin-right: 0px;
    margin-left: 0px;
    width: 100%;}
  
  input[type=submit] {
    background-color: dimgray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #666;
  }
  
  .container {
    /* Ajouter box-sizing */
    box-sizing : border-box;
    border-radius:5px;
    color: #FFFFFF;
    padding:20px;
    width: 100%;
    /* redéfinition 400 + 2*20 */
    max-width: 440px;
    margin:0 auto;
  }
  h1  {
    color:#666 ;
    
  }

@media screen and (max-width:680px){
    nav .onglets{
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card{
        margin: 10px;
    }  
    .main .content .card .right img{
        height: 200px;
        width: 100%;
        margin-top: 5px;
    }
    .main .content .card{
        display: block;
    }
    footer{
        padding: 30px;
    }
}
