@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;
}
nav h1{
    color: #717171;
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 300px; 
    
}
nav .onglets a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: url('images/relaxed-woman-enjoying-the-sea.avif');
    background-size: cover;
    color:#666666;
    padding: 40px;
}
header h1{
    font-family: 'Playfair Display', sans-serif;
    font-size: 50px;
}
header h2{
   margin-top: -20px;
   font-size: 20px;
   text-align: center;
   border-bottom: 1px solid #fff;
}
header button{
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 20px;
    font-family: 'Playfair display', sans-serif;
    outline: none;
    cursor: pointer;
}
.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.main .content .card .left{
    flex: 0 0 30%;
    padding: 20px;
    background-color: black;
    color: #fff;
}
.main .content .card.right{
    flex: 0 0 70%;
}
.main .content .card .right img{
    height: 300px;
    width: 400px;
    margin-top: 5px ;
}


footer{
   
   
    background-color: #000;
    color: #fff;
    
}
footer h1{
    font-family: 'Playfair Display' , sans-serif;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}
footer .services .service{
    margin-right: 30px;
    padding: 10px;
}
footer .services .service p{
    max-width: 300px;   
}
footer #contact{
    color: #FFFFFF ;
}
body {font-family: 'Montserrat' , sans-serif;
    padding: 0px;}
  
  input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
  }
  label{margin-right: 0px;
    margin-left: 0px;
    width: 100%;}
  
  input[type=submit] {
    background-color: dimgray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #666;
  }
  
  .container {
    /* Ajouter box-sizing */
    box-sizing : border-box;
    border-radius:5px;
    color: #FFFFFF;
    padding:20px;
    width: 100%;
    /* redéfinition 400 + 2*20 */
    max-width: 440px;
    margin:0 auto;
  }
  h1  {
    color:#666 ;
  }  


@media screen and (max-width:680px){
    nav .onglets{
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card{
        margin: 10px;
    }  
    .main .content .card .right img{
        height: 200px;
        width: 100%;
        margin-top: 5px;
    }
    .main .content .card{
        display: block;
    }
    footer{
        padding: 30px;
    }
}
section#appointment {
    background-color: #f9f9fb;
    padding: 80px 0;
}
section#appointment .container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-color: white;
    height: 540px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 10px 50px -10px #d6d6d6;
}
section#appointment .container .formulaire {
    width: 50%;
    margin-right: 35px;
}
section#appointment .container .formulaire h3 {
    font-size: 2em;
    color: #2a2a2a;
    margin-bottom: 50px;
}

section#appointment .container .formulaire-image  {
    width: 40%;
    background-color: #1fb3bf;
    height: 100%;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: flex-end;
}
section#appointment .container .formulaire-image img {
    width: 100%;
}
section#appointment .container .formulaire form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section#appointment .container .formulaire input {
    margin: 10px 0;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;
}
section#appointment .container .formulaire input:hover {
    border-bottom: 2px solid #1fb3bf;
}

section#appointment .container .formulaire input.nom-famille, 
section#appointment .container .formulaire input.email {
    width: 42%;
}

section#appointment .container .formulaire input.numero-tel, 
section#appointment .container .formulaire input.date{
    width: 42%;
}
section#appointment .container .formulaire input.horaire {
    width: 100%;
}

section#appointment .container .formulaire button.submit-btn {
    width: 192px;
    height: 60px;
    border-radius: 8px;
    border: none;
    background-color: #1fb3bf;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 30px;
    outline: none;
}

@media screen and (max-width: 768px){
    section#appointment .container .formulaire-image {
        display: none;
    }  
    section#appointment .container {
        justify-content: center;
    }
    section#appointment .container .formulaire {
        margin-right: 0px;
        width: 80%;
    }
    section#appointment .container .formulaire h3 {
        text-align: center;
        
    }
}

@media screen and (max-width: 500px) {
    section#appointment .container .formulaire {
        margin-right: 0px;
        width:95%;
    }

    section#appointment .container .formulaire input.nom-famille, 
    section#appointment .container .formulaire input.email,
    section#appointment .container .formulaire input.numero-tel, 
    section#appointment .container .formulaire input.date,
    section#appointment .container .formulaire input.horaire { 
        width: 100%;
}
section#appointment .container {
    padding: 30px 10px;
    
}

}
